/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/

.fa-2x{ color: grey; font-size: 2.5em; display:inline-block; padding-right: 0.5em;}

.about{
  display: none;
  width: 100%;
  background: grey;
  /*opacity: .7;*/
}

.about h1, a {
  font-family: 'Oswald', sans-serif;
  color: black;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
}

@media only screen and (min-width: 845px) {

  .about{
    z-index: -10000;
    overflow: hidden;
  }

  .about section {
    width: 45%;
    height: 375px;
    float: right;
    margin: 5px;
    padding: 10px;
    background: rgba(239,	239, 239, .7);
  }

  .about article {
    float: left;
    width: 100%;
  }

  .about p {
    width: 100%;
    overflow-y: scroll;
    height: 140px;
  }

  .clear {
    clear: left;
  }

  .about img{
    width: 100px;
    height:100px;
    border-radius: 50%;
  }

  .about li{
    display: inline;
    list-style:none;
    padding:20px;
  }

  .about ul {
    text-align: center;
    margin-top: 50px;
  }
}
/*.about article > a{
  display: block;
  margin-top: 10px
}*/
/*.about nav a {
  text-decoration: none;
}*/

@media only screen and (max-width: 844px) {
  .about {
    width:99%;
    overflow-x: hidden;
  }

    .about section {
      width: 95%;
      height:300px%;
      float: none;
      margin: 0px;
      padding: 0px;
      color: black;
    }

    .about p {
      width: 100%;
      overflow: scroll;
      height: 150px;
    }

    .about img{
      width: 100px;
      height:100px;
      border-radius: 50%;
    }

    .about li{
      display: inline;
      list-style:none;
      padding:20px;
    }

    .about ul {
      text-align: center;
      margin-top: 50px;
    }

    .about article {
      padding-left: 5%;
    }

}
